body * {font-family: Montserrat; color: #E5D2B0; font-size: large}
body {background: #131c17; padding: 0; margin: 0}


h1, h2, h3, h4, h5, h6, h7 { margin:0; padding: 0; width: fit-content}

.TravelIcon {
	height: 40px;
}

.TwoRismDiscription {
	position: relative;
	padding: 20px;
	max-width: 60%;
}

.SiteDescription {
    margin: 0;
    font-size: small;
    margin-left: 10%;
    width: 200%;

}

button {outline-border: none}

.InLineElements {display: flex; position: absolute; top:0px;}

.ButtonBetweenPages:hover {border: solid 2px #59E926}

.TwoRizmLine {
	position: relative;
	width: -webkit-fill-available;
	height: fit-content;
	padding: 6px;
	background: #192e29;
	display: ruby-text;
	z-index: 3;
	border-end-end-radius: 15px;
}

.TwoRizmLine h4 {float: left;}

.SideBar button {
	width: 100%;
	height: fit-content;
	margin: 5px;
}


.SideBar {
	width: 15.8%;
	height: -webkit-fill-available;
	background: #192e29;
	display: flow;
	z-index: 3;
	align-content: center;
}

.SiteMenu {
    width: -webkit-fill-available;
	margin-bottom: 25px;
    text-align: center;
}

.AllContent {
	height: -webkit-fill-available;
	display: flex;

}

button.ButtonBetweenPages.BtnTop {border-radius: 0px; border-start-start-radius: 10px; border-start-end-radius: 10px; margin-bottom: 2px;}
button.ButtonBetweenPages.BtnEnd {border-radius: 0px; border-end-start-radius: 10px; border-end-end-radius: 10px; margin-top: 0px; border: solid 2px #254e44f7}
button.ButtonBetweenPages.NonActive.BtnEnd {background: #78a468b5}

.ButtonMenu{
    height: fit-content;
    display: flow-root;
    max-height: 70%;
    left: 5px;
	overflow: auto;
    position: relative;
	font-size: medium;
    padding: 5px;
}
::-webkit-scrollbar {
  width: 3px;
}

.ButtonMenu button {font-size: medium}

::-webkit-scrollbar-track {
  background: #192e29;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #ffab54;
  border-radius: 3px;
}

.ButtonBetweenPages {
	border-radius: 12px;
	border: solid 2px #71CB51;
	padding: 3px;
	margin-left: 5px;
	color: white;
	font-weight: bold;
	height: 40px;
	position: relative;
	float: right;
	cursor: pointer;
	min-width: fit-content;
	transition: all .3s;
	width: 10%;
	background: #78A468;
}

.TwoRizmHeader{margin-left: 10px;}

.TwoRizmHeader b { font-size: larger;}

.TwoRizmImage {
    width: -webkit-fill-available;
	position: absolute;
    max-height: 85%;
    object-fit: cover;
	filter: brightness(0.5);
	z-index: 0;
	top: 0px;
	border-end-start-radius: 30px;
	border-end-end-radius: 30px;
}

.FloatingMenu {
	width: fit-content;
	height: fit-content;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	background: #7D7757;
	border-radius: 25px;
	padding: 15px;
}

button.ButtonBetweenPages.Active {border: solid 2px #ffab54}

.ButtonInFloatingMenu {
	border-radius: 12px;
	border: solid 2px #71CB51;
	padding: 10px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	transition: all .3s;
	width: -webkit-fill-available;
	background: #78A468;
	margin-top: 5px;
}

.ButtonInFloatingMenu:hover {border: solid 2px #59E926}


