div#AccountLogin {
    position: absolute;
    left: 62%;
    width: 20%;
    top: 50%;
	transform: translateY(-50%);
	max-height: 80%;
	border-radius: 20px;
	overflow: auto;
    height: fit-content;
	padding: 1%;
	background: #11111150;
    display: block;
}

span#JournalUIDescription{margin: 5px; position: absolute; top: 45%; transform: translateY(-45%); }
div#ServiceDescription{position: relative; background: #11111150; left: 5%; top: 10%; max-width: 40%; overflow-y: auto;  overflow-x: hidden; height: 30%; border-radius: 45px}
img#JournalLogoUI{width: auto; height: -webkit-fill-available; position: static; border-radius: 30px; margin: 15px; object-fit: contain}

#LogToAcc{
	font-size: 14;
	margin-bottom: 15%
}

input.PassHolder:hover {
	scale: 1.02
}

input.PassHolder{
	display: grid;
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	border: solid 2px #bb6262;
	outline-width: 0;
	color: white;
	border-radius: 10px;
	background: #3a242490;
	transition: all .3s;
}

button#LoginBtn{
	position: relative;
	margin-top: 20px;
	width: 100%;
	border: none;
	cursor: pointer;
	padding: 10px;
	background: #cd4d32;
	color: white;
	border-radius: 6px;
	scale: 1;
	transition: all .4s;
}
button#LoginBtn:hover {scale: 1.02}
button#LoginBtn:hover {scale: 1.04}
input.PassHolder:active {scale: 1.04; border: solid 2px white;}